<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{{ '/style.css' | url }}" />
<link rel="manifest" href="{{ '/manifest.json' | url }}" />
<link rel="icon" sizes="512x512" href="{{ '/icon/transparent.png' | url }}" />
<link rel="apple-touch-icon" sizes="512x512" href="{{ '/icon/maskable.png' | url }}" />
<link rel="icon" href="{{ '/icon/favicon.ico' | url }}" sizes="16x16 32x32 48x48 256x256" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb-LGdBsQnw3p_4s-DGf_o2lhLEF03nXI&libraries=places"></script>
<script async src="{{ '/main.js' | url }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="theme-color" content="#4d74ab" />
<meta name="author" content="Tiger Oakes" />
<noscript>
  <style>
    #aside,
    #screen-cover,
    #main {
      display: none;
    }
  </style>
</noscript>
{% include 'ga.html' %}
