<aside class="sidebar routes__container" id="aside" itemscope itemtype="http://schema.org/SoftwareApplication">
  <header class="app__header">
    <img class="app__logo" src="{{ '/assets/logo.svg' | url }}" alt="" itemprop="image" height="48" width="42" />
    <span class="app__logotype" itemprop="name">Big Island Buses</span>
  </header>

  <h2 class="sidebar__heading routes__heading">Nearby Routes</h2>
  <ul class="sidebar__list routes__list" id="nearby"></ul>
  <button hidden type="button" class="nearby__info" id="nearby-info">
    Find routes near my location >
  </button>

  <h2 class="sidebar__heading routes__heading">Other Routes</h2>
  <ul class="sidebar__list routes__list" id="other">
    {% for id, route in api.routes %}
      <li class="sidebar__item routes__item" style="border-color: #{{ route.route_color }}" data-route="{{ id }}">
        <a href="{{ "/routes/ID/" | replace("ID", id) | url }}" class="sidebar__link routes__link" data-type="route" data-value="{{ id }}">
          {{ route.route_long_name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <h2 class="sidebar__heading">Information</h2>
  <ul class="sidebar__list" id="info">
    {% for item in sidebar_info %}
      <li class="sidebar__item">
        <a class="sidebar__link" href="{{ item.link }}">
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="about">
    <a class="about__item sidebar__item sidebar__link author__link">
      Created by
      {% include 'tiger-logo.svg' %}
    </a>
    {% set updated = api.info.feed_start_date | parseGtfsDate %}
    <p class="about__item">Last updated <time datetime="{{ updated | isoDate }}">
      <meta itemprop="datePublished" content="{{ updated | isoDate }}" />
      {{ updated | readableDate }}
    </time></p>

    <p class="about__item" itemprop="permissions">
      Finding routes near your location requires the Location permission.
    </p>
  </div>

  <img src="{{ '/assets/lines.svg' | url }}" alt="" class="footer-lines" width="239" height="68" />
</aside>
