<section id="stop">
  <div id="stop-container">
    <header class="stop__header" id="streetview-header">
      <div class="stop__streetview-canvas" id="streetview-canvas"></div>
      <h1 class="stop__name" id="stop_name"></h1>
    </header>
    <div id="stop_details">
      <address id="address-container" title="Bus stop address">
        <svg class="stop__address-icon" viewBox="0 0 24 24">
          <path
            d="M12,2C8.1,2,5,5.1,5,9c0,5.2,7,13,7,13s7-7.8,7-13C19,5.1,15.9,2,12,2z M12,11.5c-1.4, 0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5c1.4,0,2.5,1.1,2.5 2.5S13.4,11.5,12,11.5z"
          ></path>
        </svg>
        <span class="stop__address" id="address"></span>
      </address>
      <div id="connections-wrapper">
        <h2 class="connections__heading">Connects to</h2>
        <ul class="connections__list" id="connections"></ul>
      </div>
    </div>
  </div>
</section>
