<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "com.eightislandlabs.bus"
        versionCode = "1" 
        version     = "1.0.0" >
    <name>Big Island Buses</name>
    <description>
        A far easier to use unofficial schedule for the Hawaii Hele-On Bus.
    </description>
    <author email="tigeroakes@gmail.com" href="http://tigeroakes.com">
        Tiger Oakes
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="default" />
    <preference name="DisallowOverscroll" value="false"/>
    <preference name="BackgroundColor" value="0xffeeeeee"/>
    <gap:platform name="android" />
    <preference name="android-maxSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="19" />
    <icon src="icon.png" />
    <icon src="icon/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="icon/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="icon/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="icon/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="icon/xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.6" />
    <feature name="http://api.phonegap.com/1.0/geolocation" required="true" />
    
</widget>