body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    background-color: #eee;
    font-size: 14px;
    color: #212121;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
main,
#map,
#map-canvas {
    height: 100%;
}

svg {
    height: 24px;
    width: 24px;
}

#disclaimer {
    display: none;
}

noscript h1 {
    font-size: 56px;
    font-weight: 400;
    margin: 0;
}
noscript header p {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 8px;
    color: #e0e0e0;
}
noscript header {
    color: #f5f5f5;
    background-color: #4d74ab;
    padding: 16px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}
noscript > p {
    margin-left: 16px;
    margin-right: 16px;
}
noscript ul {
    padding: 0 32px;
}

.sidebar {
    background-color: #2d3039;
    color: #f5f5f5;
    width: 256px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
    z-index: 3;
}

.app__header {
    height: 48px;
    background-color: #4d74ab;
    padding: 8px;
    white-space: nowrap;
    margin-bottom: 16px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}
.app__logo {
    height: 48px;
    vertical-align: middle;
    margin-right: 8px;
}
.app__logotype {
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
}

.sidebar__heading {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: #e0e0e0;
    margin: 8px;
}

.sidebar__list {
    margin: 0;
    padding: 0;
}
.sidebar__item {
    display: block;
    color: #f5f5f5;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    margin: 8px 0;
}
.sidebar__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.sidebar__item:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition: none;
    text-decoration: underline;
}
.sidebar__link {
    color: inherit;
    text-decoration: inherit;
    display: block;
    padding: 4px 16px;
}
.routes__item {
    border-left-width: 4px;
    border-left-style: solid;
}

aside .footer-lines {
    width: 100%;
    display: block;
}

#screen-cover {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    background-color: black;
    opacity: 0;
    cursor: normal;
}

#menu,
#alt-menu {
    vertical-align: middle;
    display: none;
}
#alt-menu {
    position: absolute;
    margin: 16px 8px;
    fill: var(--route-text-color);
}

@media (max-width: 900px) {
    #menu {
        display: inline-block !important;
    }
    .no-map #alt-menu {
        display: inline-block !important;
    }
    main {
        margin-left: 0 !important;
    }
    .sidebar {
        transform: translateX(-100%) !important;
        -webkit-transform: translateX(-100%) !important;
        transition: transform 0.3s ease !important;
        transition: -webkit-transform 0.3s ease !important;
    }
    .sidebar.open {
        transform: none !important;
        -webkit-transform: none !important;
    }
    .sidebar.open + #screen-cover {
        display: block;
        opacity: 0.5;
        z-index: 2;
    }
}

button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background 0.3s ease;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
button:active {
    background-color: rgba(0, 0, 0, 0.2) !important;
    transition: none;
}
button:focus {
    animation: phase 0.5s infinite alternate;
    outline: none;
}

@keyframes phase {
    to {
        background-color: rgba(0, 0, 0, 0.15);
    }
    from {
        background-color: transparent;
    }
}

@keyframes phase-white {
    to {
        background-color: rgba(255, 255, 255, 0.15);
    }
    from {
        background-color: transparent;
    }
}

main {
    margin-left: 256px;
    display: block;
    overflow-y: auto;
}

#map {
    position: relative;
    transition: height 0.3s ease;
}
#map-header {
    position: absolute;
    top: 0;
    left: 0;
}

#search {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    padding: 8px;
    margin: 8px;
    vertical-align: middle;
    transition: box-shadow 0.3s ease;
    width: 256px;
    font-family: inherit;
    font-size: 14px;
}
#search:focus {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 3px rgba(0, 0, 0, 0.23);
    outline: none;
}

#adDiv {
    position: absolute;
    bottom: 8px;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 0;
}
#adDiv > div {
    display: block !important;
    background: white;
    border-radius: 2px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    width: 468px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;
}
#map-canvas:hover + #adDiv {
    opacity: 0.25;
}
@media (max-width: 500px) {
    #adDiv {
        display: none;
    }
}

#content {
    display: none;
    box-shadow: 0 -1px 1.5px rgba(0, 0, 0, 0.19), 0 -1px 1px rgba(0, 0, 0, 0.23);
    position: relative;
}
.open #map,
.open-stop #map {
    height: 75%;
}
.open #content,
.open-stop #content {
    display: block;
}

.route__name {
    font-size: 34px;
    font-weight: 400;
    margin: 0;
    padding: 16px;
    padding-left: 72px;
    background-color: var(--route-color);
    color: var(--route-text-color);
}

.info {
    color: #757575;
    font-size: 13px;
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
    margin: 8px;
    background-color: white;
    border-radius: 2px;
}
.info__icon {
    margin: 8px;
    margin-right: 32px;
    vertical-align: middle;
    fill: #757575;
}

.info__select {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

.route__header {
    position: relative;
}
#download {
    display: none;
}
#download:active {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 3px rgba(0, 0, 0, 0.23);
    background-color: #4d74ab !important;
    transition: none;
}
#download:focus {
    animation: none;
    outline: none;
}
#download svg {
    display: block;
    padding: 16px;
    transition: background-color 0.3s ease;
    border-radius: 50%;
}
#download:hover svg {
    background-color: rgba(255, 255, 255, 0.1);
}
#download:active svg {
    background-color: rgba(255, 255, 255, 0.2) !important;
    transition: none;
}
#download:focus svg {
    animation: phase-white 0.5s infinite alternate;
}

#stop {
    display: none;
    width: 50%;
    float: left;
    padding-bottom: 8px;
}
#stop-container {
    margin: 8px;
    border-radius: 2px;
    background-color: white;
    padding-bottom: 16px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 3px rgba(0, 0, 0, 0.23);
}
#schedule-column {
    float: left;
    width: 50%;
}

.open-stop #stop {
    display: block;
}

.open-stop:not(.open) #stop-container {
    box-shadow: none;
    margin: 0;
    padding-bottom: 0;
}
.open-stop:not(.open) #stop {
    width: 100%;
    background-color: white;
    float: none;
}
.open-stop:not(.open) #stop_name {
    bottom: auto;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.175), transparent);
}
.open-stop:not(.open) #route-header,
.open-stop:not(.open) #information,
.open-stop:not(.open) #schedule {
    display: none;
}
.open-stop:not(.open) #streetview-header {
    padding-bottom: 256px;
}

.open:not(.open-stop) #schedule-column {
    width: 100%;
}

.schedule {
    padding-bottom: 8px;
}
.schedule__stop {
    display: block;
    margin: 0 8px;
    padding: 0 8px;
    color: inherit;
    text-decoration: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    border-radius: 2px;
}
.schedule__stop:hover {
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}
.schedule__stop:active {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    background-color: rgba(0, 0, 0, 0.05);
    transition: none;
}

.schedule__stop .lines {
    display: inline-block;
    width: 24px;
    margin-right: 16px;
    height: 100%;
    position: relative;
    min-height: 40px;
    vertical-align: middle;
}
.schedule__stop .line {
    background-color: var(--route-color);
}
.schedule__stop .lines .line:first-child {
    height: 100%;
    width: 4px;
    position: absolute;
    display: block;
    top: 0;
    left: 10px;
}
.schedule__stop .lines .line:last-child {
    position: absolute;
    top: 11px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: block;
    margin: 0 3px;
    border: 1px solid white;
}
.schedule__stop:first-child .line:last-child::after,
.schedule__stop:last-child .line:last-child::after {
    position: absolute;
    height: 8px;
    width: 8px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background-color: white;
    content: '';
    display: block;
}
.schedule__stop:first-child .line:first-child {
    height: 50%;
    top: 50%;
}
.schedule__stop:last-child .line:first-child {
    height: 50%;
    top: 0;
}

.schedule__stopname {
    display: inline-block;
    margin: 0 16px;
    vertical-align: middle;
    max-width: calc(100% - 130px);
}
.schedule__time {
    line-height: 40px;
    white-space: nowrap;
    float: right;
    display: block;
}

#map-toggle {
    background: #2b416a;
    fill: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s ease;
    position: absolute;
    right: 16px;
    bottom: -20px;
    height: 40px;
    width: 40px;
}
#map-toggle:active {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 3px rgba(0, 0, 0, 0.23);
    background-color: #2b416a !important;
    transition: none;
}
#map-toggle:focus {
    animation: none;
    outline: none;
}
#map-toggle #fullscreen-exit,
#map-toggle.on #fullscreen {
    display: none;
}
#map-toggle #fullscreen,
#map-toggle.on #fullscreen-exit {
    display: block;
    padding: 8px;
    transition: background-color 0.3s ease;
}
#map-toggle:hover #fullscreen,
#view.on:hover #fullscreen-exit {
    background-color: rgba(255, 255, 255, 0.1);
}
#map-toggle:active #fullscreen,
#view.on:active #fullscreen-exit {
    background-color: rgba(255, 255, 255, 0.2) !important;
    transition: none;
}
#map-toggle:focus #fullscreen,
#view.on:focus #fullscreen-exit {
    animation: phase-white 0.5s infinite alternate;
}

.stop__header {
    position: relative;
    width: 100%;
    padding-bottom: 66.6%;
}
.stop__streetview-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.stop__streetview-canvas svg {
    height: auto;
    width: auto;
}
.stop__name {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    color: #f5f5f5;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.175));
    width: calc(100% - 88px);
    padding-left: 72px;
    z-index: 1;
}

.stop__address {
    color: #757575;
    font-size: 13px;
    font-style: normal;
}
.stop__address-icon {
    margin: 8px 16px;
    margin-right: 32px;
    vertical-align: middle;
    fill: #757575;
}

.connections__heading {
    font-weight: 500;
    font-size: 20px;
    margin: 8px 16px;
}
.connections__list {
    margin: 8px 0;
    padding: 0 16px;
}
.connections__item {
    display: block;
    margin: 4px 0;
    transition: background-color 0.3s ease;
}
.connections__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.connections__item:active {
    background-color: rgba(0, 0, 0, 0.2);
    transition: none;
}
.connections__link {
    color: inherit;
    padding: 4px 16px;
    text-decoration: none;
    border-left-width: 4px;
    border-left-style: solid;
    display: block;
}
.connections__item--active-route {
    background-color: rgba(0, 0, 0, 0.15) !important;
}
.connections__item--active-route a {
    cursor: default;
}

@media (max-width: 768px) {
    #stop,
    #schedule-column {
        width: 100% !important;
        float: none !important;
    }
    #map {
        overflow-x: hidden;
    }
    #information span {
        max-width: calc(100% - 76px);
        display: inline-block;
        vertical-align: middle;
    }
    #stop_name {
        padding-left: 64px;
    }
}
@media (max-width: 360px) {
    #search {
        width: 192px !important;
    }
    #trip-select {
        width: calc(100% - 76px) !important;
    }
}

#map-toggle {
    display: none;
}

.float-clear {
    clear: both;
}

@media print {
    aside h2,
    aside ul,
    aside .footer-lines,
    #map-header,
    #adDiv,
    #download {
        display: none;
    }

    aside {
        height: auto;
        position: static;
        overflow-y: initial;
        width: auto;
    }
    aside header {
        margin: 0;
        -webkit-print-color-adjust: exact;
    }

    main {
        margin: 0;
        height: auto;
    }

    #map {
        height: 4in !important;
    }

    #stop_name,
    #route_long_name,
    .line {
        -webkit-print-color-adjust: exact;
    }

    #streetview-header {
        padding-bottom: 0;
        height: 3in;
    }
}

.no-streetview #streetview-header {
    padding: 0;
}
.no-streetview #streetview-canvas,
.no-streetview #address-container {
    display: none;
}
.no-streetview #stop_name {
    position: static;
    background: none !important;
    color: #212121;
}
.no-streetview #streetview-header {
    padding-bottom: 0 !important;
}

.no-map #map {
    display: none;
}

.created {
    display: block;
    margin-top: 0.1em;
}

.about {
    margin-top: 24px;
}
.about p {
    margin: 8px 24px;
    color: #9e9e9e;
}
.about a,
.about a:visited {
    color: #0277bd;
}
