@font-face { font-family: 'Roboto'; src: url('roboto/Roboto-Regular.ttf'); 				font-weight: 400; font-style: normal; }
@font-face { font-family: 'Roboto'; src: url('roboto/Roboto-Light.ttf'); 				  font-weight: 300; font-style: normal; }
@font-face { font-family: 'Roboto'; src: url('roboto/Roboto-Medium.ttf'); 				font-weight: 500; font-style: normal; }

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 970px;
	text-align: left;
}

header {
	background-color: #4d74ab;
	padding: 8px;
}
header img {
	vertical-align: middle;
	margin-right: 8px;
}
header h1 {
	vertical-align: middle;
	font-size: 20px;
	font-weight: 500;
	display: inline;
	color: #f5f5f5;
}

strong {
	font-weight: 500;
}

#hero {
	background-color: #2d3039;
	color: white;
	text-align: center;
	padding: 64px 16px;
}
.go {font-weight: 300; font-size: 56px;}
.go.green {color: #88b85c;}
.go.bus {color: #4d74ab;}
.go.online {font-weight: 400;}
.bus-icon path, .bus-icon line, .bus-icon circle, .bus-icon rect, .bus-icon polyline, .bus-icon polygon {
	stroke-linejoin: round;
	stroke-width: 1.5;
	stroke: #eee;
	fill: transparent;
}
.bus-icon .filled, .bus-icon polygon {
	fill: #eee;
}

#annoucement {
	display: block;
	font-size: 32px;
}

.feature {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 16px;
}
.feature .desc {
	background-color: rgba(255,255,255,0.75);
	box-shadow: 0 3px 3px rgba(0,0,0,0.16), 
		0 3px 3px rgba(0,0,0,0.23);
	border-radius: 2px;
	max-width: 240px;
	padding: 16px;
	margin: 16px;
}
.feature .desc h1 {
	font-weight: 300;
	margin: 0;
}

.disclaimer {
	font-size: 0.9em;
	color: #555;
}