.route-info-container {
	height: var(--info-height);
	overflow-y: auto;
}
.trip-selection {
	margin: 0;
	padding: 0;
}
.trip-item {
	display: block;
	padding: 0.5em 1em;

	position: relative;
}
.trip-item-link {
	color: inherit;
}
.trip-item::after {
	background: black;
	opacity: 0;
	transition: opacity 0.1s ease;

	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.trip-item:hover::after {
	opacity: 0.2;
}

.route-info {
	font-size: 0.9em;
	color: #444;
	box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.3);

	padding: 0.25em 1em;
}

.route-info-box {
	padding: 0.5em 0;
	display: flex;
	align-items: center;
}
.route-info-text {
	margin-left: 0.5em;
}
