.route-info {
	padding: 0.5em;
}

.route-title {
	background: var(--route-color);
	color: var(--route-text-color);

	padding: 0.5em;
}

.trip-title-container {
	color: inherit;
	text-decoration: none;
}
.trip-title {
	font-size: 1em;
	font-weight: normal;
	background: rgba(0, 0, 0, 0.3);

	display: inline-block;
	padding: 0.3em;
	margin: 0;
}

.route-name {
	font-size: 1.5em;
	font-weight: normal;

	margin: 0;
}

.info-box {
	background: #ddd;

	margin-top: 1em;
	padding: 0.5em;
}

.route-info-text {
	margin-top: 0;
	margin-bottom: 0.3em;
}

.info-box-break {
	border: 0;
	border-bottom: 1px solid gray
}
