.map {
	background: skyblue;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.map-popup {
	background: rgba(0,0,0,0.9);
	color: white;

	position: absolute;
	padding: 2em;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.error {
	color: red;
}
