---
pagination:
  data: api.routes
  size: 1
  alias: route
  resolve: values
permalink: "/routes/{{ route.route_id }}/"
---
<!DOCTYPE html>
<html>
  <head>
    {% include 'meta.html' %}
    <title>{{ route.route_long_name }} | Big Island Buses</title>
  </head>
  <body>
    {% include 'noscript.html' %}

    {% include 'sidebar.njk' %}

    <div id="screen-cover"></div>

    <main id="main" class="open">
      {% include 'map.njk' %}

      {% include 'route.njk' %}
    </main>
  </body>
</html>
