.route-header-top {
	padding: 0.5em;
	display: flex;
	align-items: top;
	flex-flow: wrap;
}

.route-map-image {
	margin-right: 1em;
}

.route-name {
	margin: 0;
	margin-right: auto;
}

.route-info {
	font-size: 0.9em;
}
.route-info-text {
	margin: 0;
}
