body {
	font-family: system-ui;
	background: #ebefee;
	color: #000;

	margin: 0;
}

ul {
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 0;
}

a {
	color: #1975ea;
}
a:hover {
	color: #06e;
}
