.trip-list {
	padding: 0;
}

.trip-link {
	display: block;
	padding: 0.3em 1em;
	position: relative;
}
.trip-link::after {
	background: gray;
	opacity: 0;
	transition: opacity 0.2s ease;

	content: '';
	position: absolute;
	z-index: -1;
	top: 0; bottom: 0; left: 0; right: 0;
}
.trip-link:hover::after {
	opacity: 0.2;
}
