:root {
	--info-height: 17em;
	--route-color: #4d74ab;
	--route-text-color: white;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #eee;
	color: #212121;

	margin: 0;
}

.main-area {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	overflow-x: hidden;
}

.tab-content {
	transition: transform 0.3s ease;

	width: 200%;
	flex: 1;
	position: relative;
}

.schedule, .map {
	width: 50%;
}

#show-map:checked ~ .tab-content {
	transform: translateX(-50%);
}
