<!DOCTYPE html>
<html>
  <head>
    {% include 'meta.html' %}
    <title>Big Island Buses</title>
  </head>
  <body>
    {% include 'sidebar.njk' %}

    <div id="screen-cover"></div>

    <main id="main">
      {% include 'map.njk' %}

      {% include 'route.njk' %}
    </main>
  </body>
</html>
